In [1]:
import pandas as pd

Unemployment Data by county (https://www.bls.gov/lau/#tables)

In [2]:
list_ = []
for x in range(2010,2019):
    df = pd.read_fwf(f'https://www.bls.gov/lau/laucnty{str(x)[-2:]}.txt', skiprows = 5)
    list_.append(df)
all_data = pd.concat(list_)
all_data = all_data.dropna()
all_data = all_data.rename(columns = {
    'Unnamed: 3' : 'county_name',
    'Unnamed: 4' : 'year',
    'Unnamed: 8' : 'unemployment_rate'
})

In [3]:
all_data.year = all_data.year.astype(int)
unemployment_data = all_data[['year','county_name','unemployment_rate']]
# unemployment_data[['county','state']] = unemployment_data.county_name.str.split(',', expand = True)
# unemployment_data = unemployment_data[['year', 'county', 'state', 'unemployment_rate']]

In [5]:
zip_county_key = pd.read_csv('zip_county_key.csv')
zip_county_key = zip_county_key.rename(columns = {
    'COUNTYNAME' : 'county',
    'STATE' : 'state'
})
zip_county_key['county_name'] = zip_county_key['county'] + ", " + zip_county_key['state']

In [6]:
unemployment_data = pd.merge(unemployment_data,
             zip_county_key,
             how = 'left',
             on = ['county_name'])
unemployment_data = unemployment_data[['year', 'ZIP', 'unemployment_rate']]

In [7]:
unemployment_data = unemployment_data.rename(columns = {'year': 'Year', 'ZIP_x' : 'ZIP'})

In [9]:
unemployment_data.to_csv('unemployment_data.csv')

Income Data by County (https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-zip-code-data-soi)

In [10]:
# df = pd.read_csv('https://www.irs.gov/pub/irs-soi/16zpallagi.csv')[['zipcode', 'agi_stub', 'N1']]

In [8]:
list_ = []
for x in range(2014,2017):
    df = pd.read_csv(f'https://www.irs.gov/pub/irs-soi/{str(x)[-2:]}zpallagi.csv')[['zipcode', 'agi_stub', 'N1']]
    list_.append(df)
    df['year'] = x
income_master = pd.concat(list_)

In [2]:
income_master = pd.read_csv('income_placeholder.csv')

In [3]:

income_master

        Unnamed: 0  zipcode  agi_stub        N1  year
0                0        0         1  850050.0  2014
1                1        0         2  491370.0  2014
2                2        0         3  259540.0  2014
3                3        0         4  164840.0  2014
4                4        0         5  203650.0  2014
5                5        0         6   51270.0  2014
6                6    35004         1    1510.0  2014
7                7    35004         2    1280.0  2014
8                8    35004         3     920.0  2014
9                9    35004         4     630.0  2014
10              10    35004         5     590.0  2014
11              11    35004         6      50.0  2014
12              12    35005         1    1360.0  2014
13              13    35005         2    1030.0  2014
14              14    35005         3     460.0  2014
15              15    35005         4     220.0  2014
16              16    35005         5     180.0  2014
17              17    35005         6       0.0  2014
18              18    35006         1     460.0  2014
19              19    35006         2     320.0  2014
20              20    35006         3     190.0  2014
21              21    35006         4     130.0  2014
22              22    35006         5     150.0  2014
23              23    35006         6       0.0  2014
24              24    35007         1    4180.0  2014
25              25    35007         2    2640.0  2014
26              26    35007         3    1870.0  2014
27              27    35007         4    1410.0  2014
28              28    35007         5    1700.0  2014
29              29    35007         6     220.0  2014
...            ...      ...       ...       ...   ...
513186      179766    83126         1      70.0  2016
513187      179767    83126         2      20.0  2016
513188      179768    83126         3      30.0  2016
513189      179769    83126         4      20.0  2016
513190      179770    83126         5      30.0  2016
513191      179771    83126         6       0.0  2016
513192      179772    83127         1     390.0  2016
513193      179773    83127         2     300.0  2016
513194      179774    83127         3     280.0  2016
513195      179775    83127         4     190.0  2016
513196      179776    83127         5     250.0  2016
513197      179777    83127         6      60.0  2016
513198      179778    83128         1     250.0  2016
513199      179779    83128         2     240.0  2016
513200      179780    83128         3     170.0  2016
513201      179781    83128         4      90.0  2016
513202      179782    83128         5     110.0  2016
513203      179783    83128         6      60.0  2016
513204      179784    83414         1      50.0  2016
513205      179785    83414         2      40.0  2016
513206      179786    83414         3      40.0  2016
513207      179787    83414         4       0.0  2016
513208      179788    83414         5      40.0  2016
513209      179789    83414         6      30.0  2016
513210      179790    99999         1    2730.0  2016
513211      179791    99999         2    2020.0  2016
513212      179792    99999         3    1330.0  2016
513213      179793    99999         4     910.0  2016
513214      179794    99999         5    1270.0  2016
513215      179795    99999         6     390.0  2016

[513216 rows x 5 columns]

In [4]:
income = []


for index, row in income_master.iterrows():
    if row['agi_stub'] == 1:
        income.append(12500)
    elif row['agi_stub'] == 2:
        income.append(37500)
    elif row['agi_stub'] == 3:
        income.append(62500)
    elif row['agi_stub'] == 4:
        income.append(87500)
    elif row['agi_stub'] == 5:
        income.append(150000)
    elif row['agi_stub'] == 6:
        income.append(200000)
        
income_master['income'] = income

In [22]:
def wavg(val_col_name, wt_col_name):
    def inner(group):
        return (group[val_col_name] * group[wt_col_name]).sum() / group[wt_col_name].sum()
    inner.__name__ = 'wtd_avg'
    return inner

income_master_test= pd.DataFrame(income_master.groupby(['zipcode', 'year']).apply(wavg('income', 'N1')))

In [23]:
# income_master_test = income_master_test['WAVG']

In [25]:
income_master_test.to_csv('test_income.csv', index=True)