In [27]:
#Import dependencies
import pandas as pd
from datetime import datetime

In [28]:
#pulls in the CSVs
df1 = pd.read_csv('zillow_listings_sqft_rentals_by_year.csv')
df2 = pd.read_csv('30 Year Mortgage.csv')
df3 = pd.read_csv('unemployment_data.csv')
df4 = pd.read_csv('test_income.csv')

In [29]:
#Cleans Df2
df2['DATE'] = [pd.to_datetime(x) for x in df2['DATE']]
df2['Year'] = df2['DATE'].dt.year
df2 = df2.dropna()
df2['Year'] = [int(x) for x in df2['Year']]

#Cleans Df1
df1 = df1.drop(['City', 'State', 'Metro', 'CountyName', 'RegionID', 'Listings', 'RentalValue'], axis=1)
df1 = df1.rename(columns={'RegionName' : 'ZIP'})
df1.dropna()

#Cleans Df3
df3 = df3.drop(['Unnamed: 0'], axis=1)

#Cleand Df4
df4 = df4.rename(columns={'zipcode': 'ZIP', 'year': 'Year', '0': 'Avg Income'})

In [30]:
df2 = df2[['Year', 'MORTGAGE30US']]

In [31]:
df7 = pd.merge(df1, df2, how='left', on='Year')
df8 = pd.merge(df7, df3, how='left', on=['Year', 'ZIP'])
df9 = pd.merge(df8, df4, how='left', on=['Year', 'ZIP'])

In [32]:
# df = df.dropna()

In [33]:
df9.sort_values(by='ZIP')

,Year,ZIP,SizeRank,MedianValueSqft,MORTGAGE30US,unemployment_rate,Avg Income
0,2013,1001,5898,131.333333,3.98,8.7,NaN
63048,2016,1001,5898,138.416667,3.65,5.3,57892.538976
42032,2015,1001,5898,134.500000,3.85,6.4,57206.703911
21016,2014,1001,5898,131.083333,4.17,7.6,56348.536036
105080,2018,1001,5898,153.500000,4.54,4.6,NaN
126096,2019,1001,5898,155.000000,NaN,NaN,NaN
84064,2017,1001,5898,144.416667,3.99,5.1,NaN
21017,2014,1002,4144,176.500000,4.17,5.3,68049.792531
42034,2015,1002,4144,178.500000,3.85,4.5,69053.774560
42033,2015,1002,4144,178.500000,3.85,4.4,69053.774560
2,2013,1002,4144,171.500000,3.98,6.1,NaN
1,2013,1002,4144,171.500000,3.98,6.2,NaN
63049,2016,1002,4144,181.416667,3.65,3.5,70337.197050
63050,2016,1002,4144,181.416667,3.65,3.6,70337.197050
84065,2017,1002,4144,189.500000,3.99,3.4,NaN
21018,2014,1002,4144,176.500000,4.17,5.3,68049.792531
126097,2019,1002,4144,202.000000,NaN,NaN,NaN
105082,2018,1002,4144,197.000000,4.54,3.0,NaN
105081,2018,1002,4144,197.000000,4.54,3.0,NaN
84066,2017,1002,4144,189.500000,3.99,3.5,NaN
84067,2017,1005,11147,137.333333,3.99,3.9,NaN
63051,2016,1005,11147,125.333333,3.65,4.1,60337.552743
105083,2018,1005,11147,147.666667,4.54,3.5,NaN
126098,2019,1005,11147,153.333333,NaN,NaN,NaN
42035,2015,1005,11147,117.333333,3.85,5.1,60978.260870
3,2013,1005,11147,104.500000,3.98,7.2,NaN
21019,2014,1005,11147,114.583333,4.17,6.1,60252.192982
84068,2017,1007,6783,142.000000,3.99,3.5,NaN
105084,2018,1007,6783,149.000000,4.54,3.0,NaN
4,2013,1007,6783,128.666667,3.98,6.1,NaN
...,...,...,...,...,...,...,...
62914,2015,99705,5483,197.583333,3.85,5.5,67258.748674
125962,2018,99705,5483,208.416667,4.54,5.8,NaN
41899,2014,99709,4550,215.416667,4.17,5.8,66279.599271
62915,2015,99709,4550,217.000000,3.85,5.5,67696.253345
125963,2018,99709,4550,230.916667,4.54,5.8,NaN
104947,2017,99709,4550,223.083333,3.99,6.1,NaN
20883,2013,99709,4550,218.333333,3.98,5.9,NaN
140772,2019,99709,4550,228.666667,NaN,NaN,NaN
83931,2016,99709,4550,217.250000,3.65,5.9,68112.722170
104948,2017,99712,8408,224.000000,3.99,6.1,NaN
20884,2013,99712,8408,220.916667,3.98,5.9,NaN
83932,2016,99712,8408,217.250000,3.65,5.9,74627.293578
125964,2018,99712,8408,231.916667,4.54,5.8,NaN
140773,2019,99712,8408,230.666667,NaN,NaN,NaN
41900,2014,99712,8408,217.250000,4.17,5.8,72488.962472
62916,2015,99712,8408,217.166667,3.85,5.5,74835.164835
125965,2018,99801,4083,256.083333,4.54,NaN,NaN
140774,2019,99801,4083,255.000000,NaN,NaN,NaN
83933,2016,99801,4083,243.750000,3.65,NaN,69185.558354
104949,2017,99801,4083,248.000000,3.99,NaN,NaN
62917,2015,99801,4083,236.250000,3.85,NaN,68760.195759
41901,2014,99801,4083,228.333333,4.17,NaN,67064.950980
20885,2013,99801,4083,222.666667,3.98,NaN,NaN
83934,2016,99901,7290,175.750000,3.65,6.5,59246.031746
104950,2017,99901,7290,180.666667,3.99,6.1,NaN
62918,2015,99901,7290,170.750000,3.85,6.9,60552.959502
140775,2019,99901,7290,195.000000,NaN,NaN,NaN
41902,2014,99901,7290,165.500000,4.17,7.9,58942.610063
125966,2018,99901,7290,193.083333,4.54,6.0,NaN
20886,2013,99901,7290,162.416667,3.98,7.8,NaN

In [34]:
len(df9.dropna())

62258

In [35]:
df9 = df9.dropna()

In [37]:
df9.to_csv('complete_data_test1.csv')

,Year,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,MedianValueSqft,Listings,RentalValue
0,2013,58196,1001,Agawam,MA,Springfield,Hampden County,5898,131.333333,1150.0,NaN
1,2013,58197,1002,Amherst,MA,Springfield,Hampshire County,4144,171.500000,1533.0,NaN
2,2013,58200,1005,Barre,MA,Worcester,Worcester County,11147,104.500000,526.0,NaN
3,2013,58201,1007,Belchertown,MA,Springfield,Hampshire County,6783,128.666667,1557.0,NaN
4,2013,58202,1008,Blandford,MA,Springfield,Hampden County,14604,114.666667,NaN,NaN
5,2013,58204,1010,Brimfield,MA,Springfield,Hampden County,11674,120.666667,392.0,NaN
6,2013,58205,1011,Chester,MA,Springfield,Hampden County,14550,87.833333,NaN,NaN
7,2013,58207,1013,Chicopee,MA,Springfield,Hampden County,4545,115.000000,910.0,NaN
8,2013,58209,1020,Chicopee,MA,Springfield,Hampden County,2741,126.666667,1459.0,NaN
9,2013,58211,1022,Chicopee,MA,Springfield,Hampden County,12943,111.250000,NaN,NaN
10,2013,58212,1026,Cummington,MA,Springfield,Hampshire County,14655,116.083333,NaN,NaN
11,2013,58213,1027,Easthampton,MA,Springfield,Hampshire County,5266,154.833333,958.0,NaN
12,2013,58214,1028,East Longmeadow,MA,Springfield,Hampden County,6531,139.250000,1313.0,NaN
13,2013,58216,1030,Agawam,MA,Springfield,Hampden County,7765,142.333333,509.0,NaN
14,2013,58219,1033,Granby,MA,Springfield,Hampshire County,10043,141.166667,468.0,NaN
15,2013,58220,1034,Tolland,MA,Springfield,Hampden County,13633,136.333333,475.0,NaN
16,2013,58221,1035,Hadley,MA,Springfield,Hampshire County,10366,173.916667,NaN,NaN
17,2013,58222,1036,Hampden,MA,Springfield,Hampden County,10935,141.333333,447.0,NaN
18,2013,58224,1038,Hatfield,MA,Springfield,Hampshire County,12820,171.250000,NaN,NaN
19,2013,58226,1040,Holyoke,MA,Springfield,Hampden County,1837,101.833333,1298.0,NaN
20,2013,58228,1050,Huntington,MA,Springfield,Hampshire County,12895,118.250000,NaN,NaN
21,2013,58229,1053,Northampton,MA,Springfield,Hampshire County,13669,153.500000,NaN,NaN
22,2013,58230,1054,Leverett,MA,Greenfield Town,Franklin County,13780,136.250000,NaN,NaN
23,2013,58231,1056,Ludlow,MA,Springfield,Hampden County,5188,131.666667,1399.0,NaN
24,2013,58234,1060,Northampton,MA,Springfield,Hampshire County,6138,180.250000,NaN,NaN
25,2013,58236,1062,Northampton,MA,Springfield,Hampshire County,7803,171.666667,NaN,NaN
26,2013,58239,1068,Oakham,MA,Worcester,Worcester County,14042,115.250000,NaN,NaN
27,2013,58242,1071,Russell,MA,Springfield,Hampden County,14451,111.750000,NaN,NaN
28,2013,58243,1072,Shutesbury,MA,Greenfield Town,Franklin County,14389,146.666667,NaN,NaN
29,2013,58244,1073,Southampton,MA,Springfield,Hampshire County,10030,145.000000,531.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
103507,2019,399728,81403,Montrose,CO,Montrose,Montrose County,7867,185.333333,205.0,NaN
103508,2019,399729,81507,Grand Junction,CO,Grand Junction,Mesa County,6508,174.333333,257.0,NaN
103509,2019,399730,84081,West Jordan,UT,Salt Lake City,Salt Lake County,2849,250.333333,305.0,NaN
103510,2019,399731,85756,Tucson,AZ,Tucson,Pima County,4383,111.666667,144.0,NaN
103511,2019,399732,86315,Prescott Valley,AZ,Prescott,Yavapai County,8694,178.666667,191.0,NaN
103512,2019,399735,97471,Roseburg,OR,Roseburg,Douglas County,3197,156.000000,177.0,NaN
103513,2019,417434,85118,Gold Canyon,AZ,Phoenix-Mesa-Scottsdale,Pinal County,6115,171.000000,471.0,NaN
103514,2019,417435,85119,Apache Junction,AZ,Phoenix-Mesa-Scottsdale,Pinal County,3980,162.333333,131.0,NaN
103515,2019,417436,85120,Apache Junction,AZ,Phoenix-Mesa-Scottsdale,Pinal County,1881,150.666667,165.0,NaN
103516,2019,417437,85122,Casa Grande,AZ,Phoenix-Mesa-Scottsdale,Pinal County,869,102.333333,501.0,NaN
103517,2019,417438,85128,Coolidge,AZ,Phoenix-Mesa-Scottsdale,Pinal County,7217,80.666667,149.0,NaN
103518,2019,417440,85132,Florence,AZ,Phoenix-Mesa-Scottsdale,Pinal County,4132,106.333333,357.0,NaN
103519,2019,417441,85137,Kearny,AZ,Phoenix-Mesa-Scottsdale,Pinal County,13523,64.000000,NaN,NaN
103520,2019,417442,85138,Maricopa,AZ,Phoenix-Mesa-Scottsdale,Pinal County,2023,107.333333,764.0,NaN
103521,2019,417443,85139,Maricopa,AZ,Phoenix-Mesa-Scottsdale,Pinal County,6371,104.333333,201.0,NaN
103522,2019,417444,85142,Queen Creek,AZ,Phoenix-Mesa-Scottsdale,Pinal County,331,142.000000,1036.0,NaN
103523,2019,417445,85145,Marana,AZ,Tucson,Pima County,13331,96.666667,NaN,NaN
103524,2019,417451,85194,Casa Grande,AZ,Phoenix-Mesa-Scottsdale,Pinal County,9530,142.000000,145.0,NaN
103525,2019,417452,50324,Windsor Heights,IA,Des Moines-West Des Moines,Polk County,10564,140.666667,NaN,NaN
103526,2019,417454,19060,Garnet Valley,PA,Philadelphia-Camden-Wilmington,Delaware County,8618,179.000000,95.0,NaN
103527,2019,417461,85123,Casa Grande,AZ,Phoenix-Mesa-Scottsdale,Pinal County,8458,101.000000,NaN,NaN
103528,2019,418162,93737,Fresno,CA,Fresno,Fresno County,11366,177.000000,NaN,NaN
103529,2019,418163,89158,Las Vegas,NV,Las Vegas-Henderson-Paradise,Clark County,13644,649.000000,NaN,NaN
103530,2019,422745,84129,Taylorsville,UT,Salt Lake City,Salt Lake County,3246,271.666667,NaN,NaN
103531,2019,422746,75033,Frisco,TX,Dallas-Fort Worth-Arlington,Collin County,2758,131.000000,413.0,NaN
103532,2019,422747,99623,Knik-Fairview,AK,Anchorage,Matanuska Susitna Borough,7983,112.333333,430.0,NaN
103533,2019,677175,84009,South Jordan,UT,Salt Lake City,Salt Lake County,4317,229.666667,551.0,NaN
103534,2019,698721,86005,Flagstaff,AZ,Flagstaff,Coconino County,5779,229.000000,329.0,NaN
103535,2019,753843,97703,Bend,OR,Bend-Redmond,Deschutes County,2660,335.000000,576.0,NaN
103536,2019,753844,29486,Summerville,SC,Charleston-North Charleston,Dorchester County,2574,125.000000,590.0,NaN