In [1]:
%matplotlib inline

# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import datetime 
import seaborn as sns

In [4]:
# setup file path
zillow ="C:/Users/maque/Dropbox/Rice Data analytics classes/RICEHOU201811DATA2/Project 3/MonthlyListings_AllHomes.csv"

In [19]:
# read csv file
zillow_monthly_listings = pd.read_csv(zillow, low_memory=False)
zillow_monthly_listings.head()

,Date,RegionID,SizeRank,RegionName,RegionType,StateName,Monthly Listings
0,1/31/2013,58196,4429,1001,Zip,MA,86.0
1,1/31/2013,58197,3190,1002,Zip,MA,85.0
2,1/31/2013,58200,7512,1005,Zip,MA,43.0
3,1/31/2013,58201,5044,1007,Zip,MA,106.0
4,1/31/2013,58204,7690,1010,Zip,MA,24.0

In [20]:
len(zillow_monthly_listings['Date'])

845100