In [73]:
%matplotlib inline

# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import datetime 
import seaborn as sns

In [74]:
# setup file path
zillow_listings ="C:/Users/maque/Dropbox/Rice Data analytics classes/RICEHOU201811DATA2/Project 3/MonthlyListings_AllHomes.csv"

In [75]:
# read csv file
zillow_monthly_listings = pd.read_csv(zillow_listings, low_memory=False)
zillow_monthly_listings.head()

,Date,RegionID,SizeRank,RegionName,RegionType,StateName,Monthly Listings
0,1/31/2013,58196,4429,1001,Zip,MA,86.0
1,1/31/2013,58197,3190,1002,Zip,MA,85.0
2,1/31/2013,58200,7512,1005,Zip,MA,43.0
3,1/31/2013,58201,5044,1007,Zip,MA,106.0
4,1/31/2013,58204,7690,1010,Zip,MA,24.0

In [76]:
# setup file path
zillow_price ="C:/Users/maque/Dropbox/Rice Data analytics classes/RICEHOU201811DATA2/Project 3/zillow_price_sqft.csv"

In [77]:
# read csv file
zillow_price_sqft = pd.read_csv(zillow_price, low_memory=False)
zillow_price_sqft.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,MedianValueSqft,Date
0,58196,1001,Agawam,MA,Springfield,Hampden County,5898,131.0,1/31/2013
1,58197,1002,Amherst,MA,Springfield,Hampshire County,4144,168.0,1/31/2013
2,58200,1005,Barre,MA,Worcester,Worcester County,11147,102.0,1/31/2013
3,58201,1007,Belchertown,MA,Springfield,Hampshire County,6783,127.0,1/31/2013
4,58202,1008,Blandford,MA,Springfield,Hampden County,14604,116.0,1/31/2013

In [78]:
# time to combine listings and prices
# pd.merge(a, b, on=['A', 'B'])
zillow_price_listings = pd.merge(zillow_price_sqft, zillow_monthly_listings, on=['Date','RegionID'], how ='left')
zillow_price_listings.head()

,RegionID,RegionName_x,City,State,Metro,CountyName,SizeRank_x,MedianValueSqft,Date,SizeRank_y,RegionName_y,RegionType,StateName,Monthly Listings
0,58196,1001,Agawam,MA,Springfield,Hampden County,5898,131.0,1/31/2013,4429,1001,Zip,MA,86.0
1,58197,1002,Amherst,MA,Springfield,Hampshire County,4144,168.0,1/31/2013,3190,1002,Zip,MA,85.0
2,58200,1005,Barre,MA,Worcester,Worcester County,11147,102.0,1/31/2013,7512,1005,Zip,MA,43.0
3,58201,1007,Belchertown,MA,Springfield,Hampshire County,6783,127.0,1/31/2013,5044,1007,Zip,MA,106.0
4,58202,1008,Blandford,MA,Springfield,Hampden County,14604,116.0,1/31/2013,NaN,NaN,NaN,NaN,NaN

In [79]:
# drop extra columns
zillow_df = zillow_price_listings.drop(['SizeRank_y', 'RegionName_y','StateName','SizeRank_y'], axis=1)
zillow_df.head()

,RegionID,RegionName_x,City,State,Metro,CountyName,SizeRank_x,MedianValueSqft,Date,RegionType,Monthly Listings
0,58196,1001,Agawam,MA,Springfield,Hampden County,5898,131.0,1/31/2013,Zip,86.0
1,58197,1002,Amherst,MA,Springfield,Hampshire County,4144,168.0,1/31/2013,Zip,85.0
2,58200,1005,Barre,MA,Worcester,Worcester County,11147,102.0,1/31/2013,Zip,43.0
3,58201,1007,Belchertown,MA,Springfield,Hampshire County,6783,127.0,1/31/2013,Zip,106.0
4,58202,1008,Blandford,MA,Springfield,Hampden County,14604,116.0,1/31/2013,NaN,NaN

In [80]:
# rename columns
zillow_df = zillow_df.rename(columns={'RegionID': 'ZipCode', 
                                      'RegionName_x': 'ZipCodeName', 
                                      'SizeRank_x': 'SizeRank'})
zillow_df.head()

,ZipCode,ZipCodeName,City,State,Metro,CountyName,SizeRank,MedianValueSqft,Date,RegionType,Monthly Listings
0,58196,1001,Agawam,MA,Springfield,Hampden County,5898,131.0,1/31/2013,Zip,86.0
1,58197,1002,Amherst,MA,Springfield,Hampshire County,4144,168.0,1/31/2013,Zip,85.0
2,58200,1005,Barre,MA,Worcester,Worcester County,11147,102.0,1/31/2013,Zip,43.0
3,58201,1007,Belchertown,MA,Springfield,Hampshire County,6783,127.0,1/31/2013,Zip,106.0
4,58202,1008,Blandford,MA,Springfield,Hampden County,14604,116.0,1/31/2013,NaN,NaN

In [81]:
# reorder column sequence
zillow_df = zillow_df[['Date', 
                       'RegionType',
                       'ZipCodeName', 
                       'ZipCode', 
                       'City',
                       'State',
                       'Metro',
                       'CountyName',
                       'SizeRank',
                       'MedianValueSqft',
                       'Monthly Listings']]
zillow_df.head()

,Date,RegionType,ZipCodeName,ZipCode,City,State,Metro,CountyName,SizeRank,MedianValueSqft,Monthly Listings
0,1/31/2013,Zip,1001,58196,Agawam,MA,Springfield,Hampden County,5898,131.0,86.0
1,1/31/2013,Zip,1002,58197,Amherst,MA,Springfield,Hampshire County,4144,168.0,85.0
2,1/31/2013,Zip,1005,58200,Barre,MA,Worcester,Worcester County,11147,102.0,43.0
3,1/31/2013,Zip,1007,58201,Belchertown,MA,Springfield,Hampshire County,6783,127.0,106.0
4,1/31/2013,NaN,1008,58202,Blandford,MA,Springfield,Hampden County,14604,116.0,NaN

In [82]:
# rename "Monthly Listings" as "MonthlyListings"
zillow_df = zillow_df.rename(columns={'Monthly Listings': 'MonthlyListings'})
zillow_df.head()

,Date,RegionType,ZipCodeName,ZipCode,City,State,Metro,CountyName,SizeRank,MedianValueSqft,MonthlyListings
0,1/31/2013,Zip,1001,58196,Agawam,MA,Springfield,Hampden County,5898,131.0,86.0
1,1/31/2013,Zip,1002,58197,Amherst,MA,Springfield,Hampshire County,4144,168.0,85.0
2,1/31/2013,Zip,1005,58200,Barre,MA,Worcester,Worcester County,11147,102.0,43.0
3,1/31/2013,Zip,1007,58201,Belchertown,MA,Springfield,Hampshire County,6783,127.0,106.0
4,1/31/2013,NaN,1008,58202,Blandford,MA,Springfield,Hampden County,14604,116.0,NaN

In [83]:
zillow_df['Date'].dtype

dtype('O')

In [84]:
# convert datatype of the date to datetime
zillow_df['Date'] = pd.to_datetime(zillow_df['Date'])
zillow_df.head()

,Date,RegionType,ZipCodeName,ZipCode,City,State,Metro,CountyName,SizeRank,MedianValueSqft,MonthlyListings
0,2013-01-31,Zip,1001,58196,Agawam,MA,Springfield,Hampden County,5898,131.0,86.0
1,2013-01-31,Zip,1002,58197,Amherst,MA,Springfield,Hampshire County,4144,168.0,85.0
2,2013-01-31,Zip,1005,58200,Barre,MA,Worcester,Worcester County,11147,102.0,43.0
3,2013-01-31,Zip,1007,58201,Belchertown,MA,Springfield,Hampshire County,6783,127.0,106.0
4,2013-01-31,NaN,1008,58202,Blandford,MA,Springfield,Hampden County,14604,116.0,NaN

In [85]:
# add year columns
year = zillow_df['Date'].dt.year
zillow_df['Year'] = year

In [86]:
zillow_df.head()

,Date,RegionType,ZipCodeName,ZipCode,City,State,Metro,CountyName,SizeRank,MedianValueSqft,MonthlyListings,Year
0,2013-01-31,Zip,1001,58196,Agawam,MA,Springfield,Hampden County,5898,131.0,86.0,2013
1,2013-01-31,Zip,1002,58197,Amherst,MA,Springfield,Hampshire County,4144,168.0,85.0,2013
2,2013-01-31,Zip,1005,58200,Barre,MA,Worcester,Worcester County,11147,102.0,43.0,2013
3,2013-01-31,Zip,1007,58201,Belchertown,MA,Springfield,Hampshire County,6783,127.0,106.0,2013
4,2013-01-31,NaN,1008,58202,Blandford,MA,Springfield,Hampden County,14604,116.0,NaN,2013

In [108]:
# by year average
years_grouped = zillow_df.groupby(['Year','ZipCode'])
print (years_grouped[['MedianValueSqft','MonthlyListings']].agg(np.mean))

              MedianValueSqft  MonthlyListings
Year ZipCode
2013 58196         131.333333        95.833333
     58197         171.500000       127.750000
     58200         104.500000        43.833333
     58201         128.666667       129.750000
     58202         114.666667              NaN
     58204         120.666667        32.666667
     58205          87.833333              NaN
     58207         115.000000        75.833333
     58209         126.666667       121.583333
     58211         111.250000              NaN
     58212         116.083333              NaN
     58213         154.833333        79.833333
     58214         139.250000       109.416667
     58216         142.333333        42.416667
     58219         141.166667        39.000000
     58220         136.333333        39.583333
     58221         173.916667              NaN
     58222         141.333333        37.250000
     58224         171.250000              NaN
     58226         101.833333       108.166667
     58228         118.250000              NaN
     58229         153.500000              NaN
     58230         136.250000              NaN
     58231         131.666667       116.583333
     58234         180.250000              NaN
     58236         171.666667              NaN
     58239         115.250000              NaN
     58242         111.750000              NaN
     58243         146.666667              NaN
     58244         145.000000        44.250000
...                       ...              ...
2019 399728        185.333333       102.500000
     399729        174.333333       128.500000
     399730        250.333333       152.500000
     399731        111.666667        72.000000
     399732        178.666667        95.500000
     399735        156.000000        88.500000
     417434        171.000000       235.500000
     417435        162.333333        65.500000
     417436        150.666667        82.500000
     417437        102.333333       250.500000
     417438         80.666667        74.500000
     417440        106.333333       178.500000
     417441         64.000000              NaN
     417442        107.333333       382.000000
     417443        104.333333       100.500000
     417444        142.000000       518.000000
     417445         96.666667              NaN
     417451        142.000000        72.500000
     417452        140.666667              NaN
     417454        179.000000        47.500000
     417461        101.000000              NaN
     418162        177.000000              NaN
     418163        649.000000              NaN
     422745        271.666667              NaN
     422746        131.000000       206.500000
     422747        112.333333       215.000000
     677175        229.666667       275.500000
     698721        229.000000       164.500000
     753843        335.000000       288.000000
     753844        125.000000       295.000000

[103537 rows x 2 columns]

In [111]:
price_listings_byYear = (years_grouped[['MedianValueSqft','MonthlyListings']].agg(np.mean))
price_listings_byYear.head()

              MedianValueSqft  MonthlyListings
Year ZipCode
2013 58196         131.333333        95.833333
     58197         171.500000       127.750000
     58200         104.500000        43.833333
     58201         128.666667       129.750000
     58202         114.666667              NaN

In [128]:
# save as csv file
price_listings_byYear.to_csv('C:/Users/maque/Dropbox/Rice Data analytics classes/RICEHOU201811DATA2/Project 3/price_listings_byYear.csv', encoding='utf-8', index=True)

In [125]:
price_priceOnly = (years_grouped[['MedianValueSqft']].agg(np.mean))
price_priceOnly.head()

              MedianValueSqft
Year ZipCode
2013 58196         131.333333
     58197         171.500000
     58200         104.500000
     58201         128.666667
     58202         114.666667

In [126]:
# save as csv file
price_listings_byYear.to_csv('C:/Users/maque/Dropbox/Rice Data analytics classes/RICEHOU201811DATA2/Project 3/price_priceOnly.csv', encoding='utf-8', index=True)